<div class="upcoming-header">
  <h2>{{ 'recurrents.upcoming.title' | transloco }}</h2>
</div>

<div class="upcoming-table">
  <p-table [value]="upcoming()" styleClass="p-datatable-sm" [rowHover]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'recurrents.upcoming.col.name' | transloco }}</th>
        <th>{{ 'recurrents.upcoming.col.establishment' | transloco }}</th>
        <th>{{ 'recurrents.upcoming.col.periodicity' | transloco }}</th>
        <th>{{ 'recurrents.upcoming.col.currentPrice' | transloco }}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-r>
      <tr>
        <td class="name">{{ r.name }}</td>
        <td>{{ r.establishment }}</td>
        <td>
          <p-tag
            [value]="periodicityLabel(r)"
            [severity]="r.periodicityType === 'ANNUAL' ? 'warn' : 'info'"
          />
        </td>
        <td class="amount">{{ r.amount | currency: 'EUR' }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="empty-msg">{{ 'recurrents.upcoming.empty' | transloco }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
