<div class="rules-toolbar">
  <p-button [label]="'tags.rules.newRule' | transloco" icon="pi pi-plus" (onClick)="showForm.set(!showForm())" />
</div>

<p-dialog
  [header]="'tags.rules.newRule' | transloco"
  [visible]="showForm()"
  (visibleChange)="showForm.set($event)"
  [modal]="true"
  [style]="{ width: '480px' }"
>
  <form [formGroup]="form" (ngSubmit)="createRule()" class="rule-form">
    <div class="field">
      <label>{{ 'tags.rules.form.name' | transloco }}</label>
      <input pInputText formControlName="name" [placeholder]="'tags.rules.form.namePlaceholder' | transloco" class="w-full" />
    </div>
    <div class="field">
      <label>{{ 'tags.rules.form.type' | transloco }}</label>
      <p-select formControlName="type" [options]="ruleTypes" optionLabel="label" optionValue="value" class="w-full" appendTo="body" />
    </div>
    @if (selectedType !== 'isExpense' && selectedType !== 'isReceipt') {
      <div class="field">
        <label>{{ 'tags.rules.form.value' | transloco }}</label>
        <input pInputText formControlName="value" [placeholder]="'tags.rules.form.valuePlaceholder' | transloco" class="w-full" />
        @if (form.get('value')?.errors?.['invalidRegex'] && form.get('value')?.dirty) {
          <small class="p-error">{{ 'tags.rules.error.invalidRegex' | transloco }}</small>
        }
      </div>
    }
    <div class="field">
      <label>{{ 'tags.rules.form.tagsToApply' | transloco }}</label>
      <p-multiselect formControlName="tagIds" [options]="tags()" optionLabel="name" optionValue="id" [placeholder]="'common.selectTags' | transloco" class="w-full" appendTo="body" />
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button type="button" [label]="'common.cancel' | transloco" [text]="true" severity="secondary" (onClick)="showForm.set(false)" />
    <p-button [label]="'tags.rules.create' | transloco" [disabled]="form.invalid" (onClick)="createRule()" />
  </ng-template>
</p-dialog>

<p-table [value]="rules()" styleClass="p-datatable-sm mt-2">
  <ng-template pTemplate="header">
    <tr>
      <th>{{ 'tags.rules.col.name' | transloco }}</th>
      <th>{{ 'tags.rules.col.type' | transloco }}</th>
      <th>{{ 'tags.rules.col.value' | transloco }}</th>
      <th>{{ 'tags.rules.col.tags' | transloco }}</th>
      <th style="width: 4rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rule>
    <tr>
      <td>{{ rule.name }}</td>
      <td><p-tag [value]="rule.type" severity="info" /></td>
      <td><code>{{ rule.value }}</code></td>
      <td>
        <div class="tags-cell">
          @for (tag of rule.tags; track tag.id) {
            <p-tag [value]="tag.name" severity="secondary" />
          }
        </div>
      </td>
      <td>
        <p-button icon="pi pi-trash" [text]="true" severity="danger" (onClick)="deleteRule(rule.id)" />
      </td>
    </tr>
  </ng-template>
</p-table>

<p-toast />
<p-confirmDialog />
